:root {
    --main-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --main-bg-color: #FFFFFF;
    
}
/* основной цвет фона и основной цвет текста*/ 
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
/* убираем точки у списка*/
ul {
    list-style: none;
}
/* цвет логотипа */
.web {
    color: var(--accent-color);
}
.logo {
    color: #000000;
}
/* цвет ссылок на страницы */
.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-contact .link {
    color: var(--title-text-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}
/* цвет фона и заголовка героя*/
.hero-title {
color: var(--main-bg-color);
}
.hero-bg {
    background-color: #2F303A;
}
.button-order {
    color: var(--main-bg-color);
    background-color: #188CE8;
}
/* цвет заголовков в секциях*/
.section-title {
    color: var(--title-text-color);
}
/* цвет фона футера и цвет логотипа*/
footer {
    background-color: #2F303A;
}
.logo-footer {
    color: #FFFFFF;
}
/* стили ПОРТФОЛИО */
/* кнопки фильтров*/
.button-filter {
    color: var(--title-text-color);
    background-color: #F5F4FA;
}
.button-filter:hover,
.button-filter:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}
/*цвет заголовков проектов*/
.project-title {
    color: var(--title-text-color) ;
}
.project-filter {
    color: var(--main-text-color);
}


/* СТУДИЯ логотип 2196F3, 000000
 студия, портфолио, контакты-  2196F3 (активная), 212121 
эмейл 757575  и (ховер )2196F3, телефон-  757575
заголовок героя FFFFFF , фон 2F303A
кнопка FFFFFF . фон 2196F3
особенности заголовок 212121 , текст 757575 
чем мы занимаемся 212121
наша команда 212121 , фон F5F4FA
карточки фон FFFFFF , фио 212121 , должность 757575
футер фон 2F303A , логотип 2196F3 ,FFFFFF
адрес FFFFFF. эмейл FFFFFF 60%  или rgba(255, 255, 255, 0,6);
телефон  #FFFFFF или rgba(255, 255, 255, 0) 
 */
 /* Портфолио фон FFFFFF, логотип 2196F3, 000000
 студия 212121, портфолио 2196F3 (активная), 212121 , контакты 212121
 эмейл 757575 , телефон 757575
 конпки-фильтры: ВСЕ фон 2196F3, FFFFFF
Веб сайты, Приложения, Дизайн, Маркетинг фон F5F4FA , 212121
проекты фон EEEEEE, заголовок 212121 , ссылка 757575
футер фон  2F303A, логотип 2196F3 ,FFFFFF
адрес FFFFFF. эмейл FFFFFF 60%  или rgba(255, 255, 255, 0,6);
телефон  FFFFFF 60%  или rgba(255, 255, 255, 0,6) 
/*.container 
   
    width: 1170px;
    margin: 0 auto;
    
}
* {
    box-sizing: border-box;
        margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.link-studio {
    color: 212121;
}
.studio-link:hover
.studio-link:focus {
    color: 2196F3;
}
.studio-link:active {
    color: 2196F3;
}*/
