.container {
   
    width: 1170px;
    margin: 0 auto;
    
}
* {
    box-sizing: border-box;
        margin: 0;
    padding: 0;
}
:root {
    --main-text-color: #757575;
    --title-text-color:  #212121;
    --accent-color: #2196F3;
    --main-bg-color: #FFFFFF;
    
}
/* основной цвет фона и основной цвет текста*/ 
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
}
/* убираем точки у списка*/
ul {
    list-style: none;
}
/* цвет логотипа */
.web {
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}
.logo {
    color: #000000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
}
/* цвет ссылок на страницы */
.site-nav .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-contact .link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}
/* цвет фона и заголовка героя*/
.hero-title {
    color: var(--main-bg-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
}
.hero-bg {
    background-color: #2F303A;
}
.button-order {
    color: var(--main-bg-color);
    background-color: #188CE8;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
}
/* цвет заголовков в секциях*/
.section-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}
/* шрифт в секции особенности*/
.font-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
}
.font-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}
/* шрифт в секции наша команда*/
.font-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}
.font-profession {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
/* цвет фона футера и цвет логотипа*/
.logo-footer {
    color: #FFFFFF;
    background-color: #2F303A;
    font-family: Raleway;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
}
.adres .adres-link {
    background-color: #2F303A;
    color: var(--main-bg-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
}
.adres .adres-link:hover,
.adres .adres-link:focus {
    color: rgba(255, 255, 255, 0,6);
}

/* стили ПОРТФОЛИО */
/* кнопки фильтров*/
.button-filter {
    color: var(--title-text-color);
    background-color: #F5F4FA;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6; 
}
.button-filter:hover,
.button-filter:focus {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
}
/*цвет заголовков проектов*/
.project-title {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2.0; 
}
.project-filter {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
}


/* СТУДИЯ логотип 2196F3, 000000
 студия, портфолио, контакты-  2196F3 (активная), 212121 
эмейл 757575  и (ховер )2196F3, телефон-  757575
заголовок героя FFFFFF , фон 2F303A
кнопка FFFFFF . фон 2196F3
особенности заголовок 212121 , текст 757575 
чем мы занимаемся 212121
наша команда 212121 , фон F5F4FA
карточки фон FFFFFF , фио 212121 , должность 757575
футер фон 2F303A , логотип 2196F3 ,FFFFFF
адрес FFFFFF. эмейл FFFFFF 60%  или rgba(255, 255, 255, 0,6);
телефон  #FFFFFF или rgba(255, 255, 255, 0) 
 */
 /* Портфолио фон FFFFFF, логотип 2196F3, 000000
 студия 212121, портфолио 2196F3 (активная), 212121 , контакты 212121
 эмейл 757575 , телефон 757575
 конпки-фильтры: ВСЕ фон 2196F3, FFFFFF
Веб сайты, Приложения, Дизайн, Маркетинг фон F5F4FA , 212121
проекты фон EEEEEE, заголовок 212121 , ссылка 757575
футер фон  2F303A, логотип 2196F3 ,FFFFFF
адрес FFFFFF. эмейл FFFFFF 60%  или rgba(255, 255, 255, 0,6);
телефон  FFFFFF 60%  или rgba(255, 255, 255, 0,6) 
/*.container 
   
    width: 1170px;
    margin: 0 auto;
    
}
* {
    box-sizing: border-box;
        margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.link-studio {
    color: 212121;
}
.studio-link:hover
.studio-link:focus {
    color: 2196F3;
}
.studio-link:active {
    color: 2196F3;
}*/
